eclipse-workspace/MilkyMovieStackGenerator/target/classes/online/ideaup/DSSStackFile.class
eclipse-workspace/MilkyMovieStackGenerator/target/classes/online/ideaup/ImageFile.class
eclipse-workspace/MilkyMovieStackGenerator/target/classes/online/ideaup/MetadataTest.class
eclipse-workspace/MilkyMovieStackGenerator/target/classes/online/ideaup/mmsg.class
eclipse-workspace/MilkyMovieStackGenerator/target/classes/online/ideaup/mmsg$1.class
src/.DS_Store
.DS_Store
